@import '../scss/fonts';

@import '../scss/section/section';

:host {
  @include section;
  align-content: center;
}

:host-context(.light-theme) {
  @include light-section;
}

:host-context(.dark-theme) {
  @include dark-section;
}

.education__title {
  @include section__title;
}

.education__info {
  font-family: $font;
  text-align: center;
  padding: 5px;

  .education__degree {
    @include section__subtitle;
  }

  .education__university {
    font-weight: map-get($map: $font-weights, $key: normal);
    margin: 3px;
  }

  .education__year {
    font-weight: map-get($map: $font-weights, $key: normal);
    margin: 3px;
  }
}
