<h3 class="heading heading--underlined heading--center heading--3">About</h3>
<h4 class="heading heading--center heading--4">Skills</h4>
<app-card-container>
  <app-card>
    <app-card-title>Frontend</app-card-title>
    <app-card-content>
      <ul class="skill-list">
        <li>Angular</li>
        <li>React</li>
      </ul>
    </app-card-content>
  </app-card>
  <app-card>
    <app-card-title>Backend</app-card-title>
    <app-card-content>
      <ul class="skill-list">
        <li>Nodejs</li>
        <li>Spring</li>
      </ul>
    </app-card-content>
  </app-card>
  <app-card>
    <app-card-title>Databases</app-card-title>
    <app-card-content>
      <ul class="skill-list">
        <li>MongoDB</li>
        <li>Postgresql</li>
        <li>MySQL</li>
      </ul>
    </app-card-content>
  </app-card>
  <app-card>
    <app-card-title>Others</app-card-title>
    <app-card-content>
      <ul class="skill-list">
        <li>Git</li>
        <li>Docker</li>
        <li>Firebase</li>
      </ul>
    </app-card-content>
  </app-card>
</app-card-container>

<h4 class="heading heading--center heading--4">Work experience</h4>
<app-card-container>
  <app-card>
    <app-card-title>Application Architect</app-card-title>
    <app-card-content>
      <h6 class="heading heading--no-margin heading--6">General Organization for Social Insurance</h6>
      <p>Sept. 2017 - Present</p>
    </app-card-content>
  </app-card>
  <app-card>
    <app-card-title>Summer Intern</app-card-title>
    <app-card-content>
      <h6 class="heading heading--no-margin heading--6">Al-Khaleej Computers and Electronic Systems</h6>
      <p>Dec. 2015 - Feb. 2016</p>
    </app-card-content>
  </app-card>
</app-card-container>
