@import '../scss/theme';

@mixin dark-navbar {
  .navbar {
    background-color: map-get($map: $dark-theme, $key: backgroundColor);
    color: map-get($map: $dark-theme, $key: textColor);

    &__theme-btn {
      background-color: map-get($map: $light-theme, $key: backgroundColor);
    }
  }
}
