@import '../scss/fonts';

@import 'navbar.dark';
@import 'navbar.light';

.navbar {
  display: flex;
  padding: 15px;

  &__title {
    font-family: $font;
    font-weight: map-get($map: $font-weights, $key: black);
    letter-spacing: 2px;
    @include fluid-type(300px, 1200px, 18px, 24px);
  }

  &__theme-btn {
    border: none;
    outline: none;
    margin-left: auto;
    align-self: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
}

:host-context(.light-theme) {
  @include light-navbar;
}

:host-context(.dark-theme) {
  @include dark-navbar;
}
