@import '../../theme';

.navbar {
  padding: 15px;

  &__title {
    font-family: $font;
    font-weight: bolder;
  }
}

:host-context(.light-theme) {
  $theme: map-get($map: $themes, $key: light);

  .navbar {
    background-color: map-get($map: $theme, $key: backgroundColor);
    color: map-get($map: $theme, $key: textColor);
  }
}

:host-context(.dark-theme) {
  $theme: map-get($map: $themes, $key: dark);

  .navbar {
    background-color: map-get($map: $theme, $key: backgroundColor);
    color: map-get($map: $theme, $key: textColor);
  }
}
