@import '../scss/fonts';

@import '../scss/section/section';

:host {
  @include section;
}

:host-context(.light-theme) {
  @include light-section;

  .project__links {
    .project__link {
      color: $blue;

      &:hover {
        color: $navy;
      }
    }
  }
}

:host-context(.dark-theme) {
  @include dark-section;

  .project__links {
    .project__link {
      color: $aqua;

      &:hover {
        color: $light-blue;
      }
    }
  }
}

.projects__title {
  font-family: $font;
  @include fluid-type(300px, 1200px, 20px, 40px);
  font-weight: map-get($map: $font-weights, $key: black);
  text-align: center;
  letter-spacing: 1px;
  margin: 10px;
}

.project {
  font-family: $font;
  text-align: center;
  padding: 5px;

  .project__title {
    @include fluid-type(300px, 1200px, 20px, 40px);
    font-weight: map-get($map: $font-weights, $key: bold);
    margin: 5px;
  }

  .project__description {
    font-weight: map-get($map: $font-weights, $key: normal);
    margin: 3px;
  }

  .project__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .project__link {
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      margin: 5px;
    }
  }
}
