<h3 class="heading heading--underlined heading--center heading--3">Projects</h3>
<app-card-container>
  <app-card>
    <app-card-title>ng-spy</app-card-title>
    <app-card-content>
      <p>A scrollspy for angular. Also working on this site!</p>
    </app-card-content>
    <app-card-links>
      <app-card-link href="https://github.com/chefomar/angular-scroll-spy">Github</app-card-link>
      <app-card-link href="https://www.npmjs.com/package/ng-spy">npm</app-card-link>
    </app-card-links>
  </app-card>

  <app-card>
    <app-card-title>Optionull</app-card-title>
    <app-card-content>
      <p>An implementation for the nullable design pattern in javascript</p>
    </app-card-content>
    <app-card-links>
      <app-card-link href="https://github.com/chefomar/optionull">Github</app-card-link>
      <app-card-link href="https://www.npmjs.com/package/optionull">npm</app-card-link>
    </app-card-links>
  </app-card>

  <app-card>
    <app-card-title>ts-lint-no-data</app-card-title>
    <app-card-content>
      <p>TSLint rules to prevent usage of the word "data" in variables and function names</p>
    </app-card-content>
    <app-card-links>
      <app-card-link href="https://github.com/chefomar/no-data">Github</app-card-link>
      <app-card-link href="https://www.npmjs.com/package/tslint-no-data">npm</app-card-link>
    </app-card-links>
  </app-card>
</app-card-container>
