$black: #111111;
$gray: #AAAAAA;
$silver: #DDDDDD;
$white: #ffffff;
$navy: #001F3F;
$blue: #0074D9;
$light-blue: #80BFFF;
$aqua: #99CCFF;

$font: Roboto, sans-serif;

$font-weights: (
  thin: 100,
  extra-light: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900
);
