$black: #111111;
$gray: #AAAAAA;
$silver: #DDDDDD;
$white: #ffffff;
$navy: #001F3F;
$blue: #0074D9;
$light-blue: #80BFFF;
$aqua: #99CCFF;

$font: 'Roboto', sans-serif;

$light-theme: (
  backgroundColor: $white,
  textColor: $black,
  buttonColor: $blue,
  buttonTextColor: $aqua,
  borderColor: $navy
);


$dark-theme: (
    backgroundColor: $black,
    textColor: $silver,
    buttonColor: $navy,
    buttonTextColor: $blue,
    borderColor: $gray
);
