/* You can add global styles to this file, and also import other style files */
@import 'icon-fonts';
@import './app/scss/fonts';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.heading {
  margin: 0;
  font-family: $font;
  text-transform: capitalize;
  letter-spacing: 2px;

  &-1 {
    font-weight: map-get($map: $font-weights, $key: black);
    @include fluid-type(300px, 1200px, 24px, 56px);
  }

  &-2 {
    font-weight: map-get($map: $font-weights, $key: bold);
    @include fluid-type(300px, 1200px, 22px, 50px);
  }

  &-3 {
    font-weight: map-get($map: $font-weights, $key: black);
    @include fluid-type(300px, 1200px, 20px, 40px);
  }

  &-4 {
    font-weight: map-get($map: $font-weights, $key: bold);
    @include fluid-type(300px, 1200px, 18px, 38px);
  }

  &--center {
    text-align: center;
  }
}
