@import '~src/app/scss/theme';

:host {
  display: flex;

  .card__link {
    border: 2px solid $navy;
    padding: 5px;
    margin: 5px;
    color: $navy;
    text-decoration: none;
  }

  &:hover {
    color: $black;
    border-color: $black;
  }
}
